/*****variables de couleur******/
body {
  margin: auto;
  width: 100%;
}

header {
  background-color: #3c8d72;
  width: 100%;
  text-align: center;
  height: 120px;
  color: #f1c943;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Montserrat";
}

header h1 {
  margin-top: 0;
  line-height: 100px;
}

/***********************************************extensions************************************************/
.menu_page_principale, .menu1, .menu2, .menu3, .menu4 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.8rem;
  -webkit-box-shadow: 2px 2px 12px #b8b8b8;
          box-shadow: 2px 2px 12px #b8b8b8;
  min-width: 450px;
  min-height: 600px;
}

/***************************************************************/
.quatre_menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 100px 100px 50px 100px;
}

a {
  text-decoration: none;
  color: #f1c943;
}

.scale {
  margin-top: 150px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

.scale:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.scale {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.scale:hover {
  opacity: 0.5;
}

.menu1 {
  background-color: #ffe3e3;
}

.menu1 h2 {
  margin-top: 20px;
  color: #351601;
  font-weight: lighter;
  font-family: "Devonshire";
}

.menu1 span {
  color: #351601;
  font: bold 2.5rem "Kalam";
  font-weight: bold;
}

.menu2 {
  background-color: #fcf7fa;
}

.menu2 h2 {
  margin-top: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8800), to(#cc4bff));
  background-image: linear-gradient(to right, #ff8800, #cc4bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Sofia";
}

.menu2 span {
  color: #f79e19;
  font: bold 3rem;
  font-weight: bold;
}

.menu3 {
  background-color: #faf3f3;
}

.menu3 h2 {
  margin-top: 200px;
  background: linear-gradient(-225deg, #2e44c2 0%, #6297db 48%, #1eecff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script";
}

.menu3 span {
  color: #1d90d3;
}

.menu4 {
  background-color: #fff9f9;
}

.menu4 h2 {
  margin-top: 240px;
  background: -webkit-gradient(linear, left top, right top, from(#197538), to(#b4ee47));
  background: linear-gradient(to right, #197538 0%, #b4ee47 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script";
}

.menu4 span {
  color: #7fe451;
}

#prochainement {
  background-color: #3c8d72;
  width: 400px;
  height: 90px;
  text-align: center;
  color: #f1c943;
  font-size: 2.5rem;
  border-radius: 15px 15px;
  margin-left: 550px;
}

#prochainement span {
  font-size: 150px;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  color: #f1c943;
  border-radius: 50%;
  max-height: 50px;
}

#prochainement span:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#prochainement span:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f1c943;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3c8d72;
  height: 100px;
  margin-top: 50px;
  font-size: 2.3rem;
  position: fixed;
  z-index: 1500;
  bottom: 0;
  width: 100%;
}

#mentions_legales {
  margin-left: 40px;
  line-height: 105px;
}

#mentions_legales:hover {
  -webkit-animation: wiggle 125ms infinite;
          animation: wiggle 125ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  50% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  100% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  50% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  100% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
}

#contactez_nous {
  margin-right: 40px;
  line-height: 105px;
}

#contactez_nous:hover {
  -webkit-animation: wiggle 125ms infinite;
          animation: wiggle 125ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  50% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  100% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
}

/**************************************************************/
.main_page2 {
  background-color: #ffe3e3;
  font-family: "Kalam";
  font-size: 1.5rem;
  color: #351601;
  margin: 10%;
  -webkit-box-shadow: 2px 2px 12px #b8b8b8;
          box-shadow: 2px 2px 12px #b8b8b8;
  padding-bottom: 5%;
}

.main_page2 ul {
  margin-left: 5%;
}

.main_page2__titre {
  text-align: center;
}

.main_page2 #note_enchantee {
  margin: auto;
  margin-top: 5%;
}

.separation1,
.separation2,
.separation3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: auto;
  text-align: center;
}

.prelude1,
.prelude3 {
  width: 25%;
  height: 4px;
  background-color: #351601;
}

h3::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

h3:hover::after {
  width: 100%;
  background: #000000;
}

.details_menu {
  width: 80%;
  text-align: left;
}

.prix {
  width: 20%;
  text-align: right;
  margin-right: 8%;
}

.li_menu_lanote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bas_de_page {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 35%;
  max-height: 100px;
  padding-top: 3%;
}

.main_page2__article3 .li_menu_lanote {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/******************************page3***********************************/
.main_page3 {
  background-color: #fcf7fa;
  margin: 10%;
  -webkit-box-shadow: 2px 2px 12px #b8b8b8;
          box-shadow: 2px 2px 12px #b8b8b8;
  padding-bottom: 5%;
}

.main_page3__titre {
  text-align: center;
  padding-top: 100px;
  font: 3.5rem "Sofia";
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8800), to(#571ff3));
  background-image: linear-gradient(to right, #ff8800, #571ff3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_page3 ul {
  margin-left: 5%;
}

.main_page3 h3::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.main_page3 h3:hover::after {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ff8800), to(#cc4bff));
  background: linear-gradient(to right, #ff8800, #cc4bff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.separation1_page3,
.separation2_page3,
.separation3_page3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: auto;
  text-align: center;
}

.chic1,
.chic3 {
  width: 25%;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#ff8800), to(#cc4bff));
  background: linear-gradient(to right, #ff8800, #cc4bff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ul_lechic_1 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ff8800;
  font-size: 1.5rem;
}

.ul_lechic_2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #8a7196;
  font-size: 1.5rem;
}

.ul_lechic_3 .details_menu {
  width: 100%;
}

.ul_lechic_3 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5rem;
  color: #ae5cf1;
}

.separation1_page3 .chic2 {
  color: #ff8800;
  font: 1.9rem bold;
}

.separation2_page3 .chic2 {
  color: #8a7196;
  font: 1.9rem bold;
}

.separation3_page3 .chic2 {
  color: #ae5cf1;
  font: 1.9rem bold;
}

/****************************************page4***********************/
.page4 {
  background-color: #faf3f3;
  font-family: "Kalam";
  font-size: 1.5rem;
  margin: 10%;
  -webkit-box-shadow: 2px 2px 12px #b8b8b8;
          box-shadow: 2px 2px 12px #b8b8b8;
  padding-bottom: 200px;
}

.page4 h2 {
  padding-top: 100px;
  text-align: center;
  font-size: 5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#2522dd), to(#bbfaf7));
  background-image: linear-gradient(to right, #2522dd, #bbfaf7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script";
}

.page4 h3::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.page4 h3:hover::after {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#2522dd), to(#bbfaf7));
  background-image: linear-gradient(to right, #2522dd, #bbfaf7);
}

.separation1_page4,
.separation2_page4,
.separation3_page4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: auto;
  text-align: center;
}

.papilles1,
.papilles3 {
  width: 25%;
  height: 4px;
}

.separation1_page4 > .papilles1,
.papilles3 {
  background-color: #2522dd;
}

.separation2_page4 > .papilles1,
.papilles3 {
  background-color: #2522dd;
}

.separation3_page4 > .papilles1,
.papilles3 {
  background-color: #40a0ee;
}

.page4__article li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5rem;
  width: 100%;
}

.page4__article ul {
  margin: 0;
}

/*******************************************page5**************************************/
.page5 {
  background-color: #faf3f3;
  font-family: "Kalam";
  font-size: 1.5rem;
  padding-bottom: 100px;
  margin: 10%;
}

.page5 h2 {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 100px;
  font-size: 5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#307a05), to(#9cf5a1));
  background-image: linear-gradient(to right, #307a05, #9cf5a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script";
}
/*# sourceMappingURL=style.css.map */