/*****variables de couleur******/

$background_color_menu1: rgb(255, 227, 227);
$background-color_menu2: rgb(252, 247, 250);
$background-color_menu3: rgb(250, 243, 243);
$background-color_menu4: rgb(255, 249, 249);
$couleur_menu_lechic: rgb(247, 158, 25);
$couleur_menu_lanote: rgb(53, 22, 1);
$couleur_menu_palettes: rgb(127, 228, 81);
$couleur_menu_papilles: rgb(29, 144, 211);
$couleur_footer_header: rgb(60, 141, 114);
$couleur_logo: rgb(241, 201, 67);

body {
  margin: auto;
  width: 100%;
}
header {
  background-color: $couleur_footer_header;
  width: 100%;
  text-align: center;
  height: 120px;
  color: $couleur_logo;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Montserrat";

  h1 {
    margin-top: 0;
    line-height: 100px;
  }
}
/***********************************************extensions************************************************/
.menu_page_principale {
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.8rem;
  box-shadow: 2px 2px 12px rgb(184, 184, 184);
  min-width: 450px;
  min-height: 600px;
}

/***************************************************************/

.quatre_menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px 100px 50px 100px;
}
a {
  text-decoration: none;
  color: $couleur_logo;
}
.scale {
  margin-top: 150px;
  transform: scale(1);
  transition: transform 600ms;

  &:hover {
    transform: scale(1.1);
  }
}
.scale {
  opacity: 1;
  transition: 0.3s ease-in-out;
  &:hover {
    opacity: 0.5;
  }
}
.menu1 {
  @extend.menu_page_principale;
}
.menu1 {
  background-color: $background_color_menu1;

  h2 {
    margin-top: 20px;
    color: $couleur_menu_lanote;
    font-weight: lighter;
    font-family: "Devonshire";
  }
  span {
    color: $couleur_menu_lanote;
    font: bold 2.5rem "Kalam";
    font-weight: bold;
  }
}
.menu2 {
  @extend.menu_page_principale;
}
.menu2 {
  background-color: $background-color_menu2;
  h2 {
    margin-top: 200px;
    background-image: linear-gradient(
      to right,
      rgb(255, 136, 0),
      rgb(204, 75, 255)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Sofia";
  }
  span {
    color: $couleur_menu_lechic;
    font: bold 3rem;
    font-weight: bold;
  }
}
.menu3 {
  @extend.menu_page_principale;
}
.menu3 {
  background-color: $background-color_menu3;
  h2 {
    margin-top: 200px;
    background: linear-gradient(
      -225deg,
      rgb(46, 68, 194) 0%,
      #6297db 48%,
      #1eecff 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Dancing Script";
  }
  span {
    color: $couleur_menu_papilles;
  }
}
.menu4 {
  @extend.menu_page_principale;
}
.menu4 {
  background-color: $background-color_menu4;
  h2 {
    margin-top: 240px;
    background: linear-gradient(to right, #197538 0%, #b4ee47 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Kaushan Script";
  }
  span {
    color: $couleur_menu_palettes;
  }
}

#prochainement {
  background-color: $couleur_footer_header;
  width: 400px;
  height: 90px;
  text-align: center;
  color: $couleur_logo;
  font-size: 2.5rem;
  border-radius: 15px 15px;
  margin-left: 550px;
}
#prochainement span {
  font-size: 150px;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  color: $couleur_logo;
  border-radius: 50%;
  max-height: 50px;
}

#prochainement span:nth-child(2) {
  animation-delay: 0.4s;
}
#prochainement span:nth-child(3) {
  animation-delay: 0.6s;
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
footer {
  justify-content: space-between;
  color: $couleur_logo;
  display: flex;
  background-color: $couleur_footer_header;
  height: 100px;
  margin-top: 50px;
  font-size: 2.3rem;
  position: fixed;
  z-index: 1500;
  bottom: 0;
  width: 100%;
}
#mentions_legales {
  margin-left: 40px;
  line-height: 105px;
}

#mentions_legales:hover {
  @keyframes wiggle {
    0% {
      transform: translate(2px, 0);
    }
    50% {
      transform: translate(-2px, 0);
    }
    100% {
      transform: translate(2px, 0);
    }
  }

  animation: wiggle 125ms infinite;
  animation-timing-function: linear;
}
#contactez_nous {
  margin-right: 40px;
  line-height: 105px;
}
#contactez_nous:hover {
  @keyframes wiggle {
    0% {
      transform: translate(2px, 0);
    }
    50% {
      transform: translate(-2px, 0);
    }
    100% {
      transform: translate(2px, 0);
    }
  }

  animation: wiggle 125ms infinite;
  animation-timing-function: linear;
}

/**************************************************************/
.main_page2 {
  background-color: $background_color_menu1;
  font-family: "Kalam";
  font-size: 1.5rem;
  color: $couleur_menu_lanote;
  margin: 10%;
  box-shadow: 2px 2px 12px rgb(184, 184, 184);
  padding-bottom: 5%;
  ul {
    margin-left: 5%;
  }
  &__titre {
    text-align: center;
  }

  #note_enchantee {
    margin: auto;
    margin-top: 5%;
  }
}
.separation1,
.separation2,
.separation3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  text-align: center;
}
.prelude1,
.prelude3 {
  width: 25%;
  height: 4px;
  background-color: $couleur_menu_lanote;
}
h3::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  transition: width 0.5s ease;
}

h3:hover::after {
  width: 100%;
  background: #000000;
}

.details_menu {
  width: 80%;
  text-align: left;
}
.prix {
  width: 20%;
  text-align: right;
  margin-right: 8%;
}

.li_menu_lanote {
  display: flex;
  justify-content: space-around;
}
.bas_de_page {
  display: inline-flex;
  margin-left: 35%;
  max-height: 100px;
  padding-top: 3%;
}
.main_page2__article3 {
  .li_menu_lanote {
    flex-direction: column;
  }
}
/******************************page3***********************************/
.main_page3 {
  background-color: $background-color_menu2;
  margin: 10%;
  box-shadow: 2px 2px 12px rgb(184, 184, 184);
  padding-bottom: 5%;

  &__titre {
    text-align: center;
    padding-top: 100px;
    font: 3.5rem "Sofia";
    background-image: linear-gradient(
      to right,
      rgb(255, 136, 0),
      rgb(87, 31, 243)
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  ul {
    margin-left: 5%;
  }
  h3::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    transition: width 0.5s ease;
  }

  h3:hover::after {
    width: 100%;
    background: linear-gradient(to right, rgb(255, 136, 0), rgb(204, 75, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.separation1_page3,
.separation2_page3,
.separation3_page3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  text-align: center;
}
.chic1,
.chic3 {
  width: 25%;
  height: 4px;
  background: linear-gradient(to right, rgb(255, 136, 0), rgb(204, 75, 255));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ul_lechic_1 {
  li {
    display: flex;
    justify-content: space-around;
    color: rgb(255, 136, 0);
    font-size: 1.5rem;
  }
}
.ul_lechic_2 {
  li {
    display: flex;
    justify-content: space-around;
    color: rgb(138, 113, 150);
    font-size: 1.5rem;
  }
}

.ul_lechic_3 {
  .details_menu {
    width: 100%;
  }
  li {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    color: rgb(174, 92, 241);
  }
}

.separation1_page3 {
  .chic2 {
    color: rgb(255, 136, 0);
    font: 1.9rem bold;
  }
}
.separation2_page3 {
  .chic2 {
    color: rgb(138, 113, 150);
    font: 1.9rem bold;
  }
}
.separation3_page3 {
  .chic2 {
    color: rgb(174, 92, 241);
    font: 1.9rem bold;
  }
}

/****************************************page4***********************/
.page4 {
  background-color: $background-color_menu3;
  font-family: "Kalam";
  font-size: 1.5rem;
  margin: 10%;
  box-shadow: 2px 2px 12px rgb(184, 184, 184);
  padding-bottom: 200px;
  h2 {
    padding-top: 100px;
    text-align: center;
    font-size: 5rem;
    background-image: linear-gradient(
      to right,
      rgb(37, 34, 221),
      rgb(187, 250, 247)
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Dancing Script";
  }
  h3::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    transition: width 0.5s ease;
  }

  h3:hover::after {
    width: 100%;
    background-image: linear-gradient(
      to right,
      rgb(37, 34, 221),
      rgb(187, 250, 247)
    );
  }
}
.separation1_page4,
.separation2_page4,
.separation3_page4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  text-align: center;
}
.papilles1,
.papilles3 {
  width: 25%;
  height: 4px;
}
.separation1_page4 > .papilles1,
.papilles3 {
  background-color: rgb(37, 34, 221);
}

.separation2_page4 > .papilles1,
.papilles3 {
  background-color: rgb(37, 34, 221);
}
.separation3_page4 > .papilles1,
.papilles3 {
  background-color: rgb(64, 160, 238);
}
.page4__article {
  li {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    width: 100%;
  }
  ul {
    margin: 0;
  }
}
/*******************************************page5**************************************/
.page5 {
  background-color: $background-color_menu3;
  font-family: "Kalam";
  font-size: 1.5rem;
  padding-bottom: 100px;
  margin:10%;

  h2 {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 100px;
    font-size: 5rem;
    background-image: linear-gradient(
      to right,
      rgb(48, 122, 5),
      rgb(156, 245, 161)
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: "Kaushan Script";
  }
}
