@charset "UTF-8";
/*****variables de couleur******/
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  background-color: #3c8d72;
  width: 100%;
  text-align: center;
  height: 120px;
  color: #f1c943;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Montserrat";
}

header h1 {
  margin-top: 0;
  line-height: 100px;
}

/***************************************************************/
.quatre_menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10%;
}

@media only screen and (max-width: 600px) {
  .quatre_menus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2%;
  }
}

a {
  text-decoration: none;
  color: #f1c943;
}

.scale {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

.scale:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.scale {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.scale:hover {
  opacity: 0.5;
}

/*******************************mixins**************************************/
.menu--lanote, .menu--lechic, .menu--papilles, .menu--legout {
  text-align: center;
  font-size: 2.1rem;
  -webkit-box-shadow: 2px 2px 12px #b8b8b8;
          box-shadow: 2px 2px 12px #b8b8b8;
  width: 44%;
  height: 650px;
  margin-bottom: 5%;
}

@media only screen and (max-width: 600px) {
  .menu--lanote, .menu--lechic, .menu--papilles, .menu--legout {
    width: 100%;
    max-height: 500px;
  }
}

/**************************************************************************************/
.menu--lanote {
  background-color: #ffe3e3;
}

.menu--lanote__titre {
  margin-top: 2%;
  color: #351601;
  font-weight: lighter;
  font-family: "Devonshire";
  margin-bottom: 0;
}

.menu--lanote__image {
  margin-top: 30%;
}

.lanote {
  color: #351601;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Kalam";
}

.menu--lechic {
  background-color: #fcf7fa;
}

.menu--lechic__titre {
  margin-top: 40%;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8800), to(#571ff3));
  background-image: linear-gradient(to right, #ff8800, #571ff3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Sofia";
  margin-bottom: 0;
}

.lechic {
  color: #f79e19;
  font-weight: bolder;
  font: 3rem "Arial";
}

.menu--papilles {
  background-color: #faf3f3;
}

.menu--papilles__titre {
  margin-top: 40%;
  background: linear-gradient(-225deg, #2e44c2 0%, #6297db 48%, #1eecff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script";
  margin-bottom: 0;
}

.papilles {
  color: #1d90d3;
  font-family: "Kalam";
  font-size: 3rem;
}

.menu--legout {
  background-color: #fff9f9;
}

@media only screen and (max-width: 600px) {
  .menu--legout {
    margin-bottom: 35%;
  }
}

.menu--legout__titre {
  margin-top: 45%;
  background: -webkit-gradient(linear, left top, right top, from(#197538), to(#b4ee47));
  background: linear-gradient(to right, #197538 0%, #b4ee47 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script";
  margin-bottom: 0;
}

.legout {
  color: #7fe451;
  font-size: 3rem;
}

#prochainement {
  background-color: #3c8d72;
  width: 33%;
  height: 80px;
  text-align: center;
  color: #f1c943;
  font-size: 2.5rem;
  border-radius: 15px 15px;
  margin-left: 32%;
  margin-bottom: 15%;
  line-height: 30px;
}

@media only screen and (max-width: 600px) {
  #prochainement {
    display: none;
  }
}

#prochainement span {
  font-size: 100px;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  color: #f1c943;
  border-radius: 50%;
}

#prochainement span:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#prochainement span:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f1c943;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3c8d72;
  height: 100px;
  bottom: 0;
  font-size: 2.3rem;
  position: fixed;
  z-index: 1500;
  width: 100%;
}

#mentions_legales {
  margin-left: 40px;
  line-height: 105px;
}

#mentions_legales:hover {
  -webkit-animation: wiggle 125ms infinite;
          animation: wiggle 125ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  50% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  100% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  50% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  100% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
}

#contactez_nous {
  margin-right: 40px;
  line-height: 105px;
}

#contactez_nous:hover {
  -webkit-animation: wiggle 125ms infinite;
          animation: wiggle 125ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
  50% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  100% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }
}

/**************************************************************/
.main_page2 {
  background-color: #ffe3e3;
  font-family: "Kalam";
  font-size: 1.5rem;
  color: #351601;
  margin: 10%;
  -webkit-box-shadow: 2px 2px 12px #b8b8b8;
          box-shadow: 2px 2px 12px #b8b8b8;
  padding-bottom: 5%;
}

.main_page2__titre {
  text-align: center;
}

#note_enchantee {
  margin: auto;
  margin-top: 10%;
}

.bas_de_page {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 35%;
  max-height: 100px;
  padding-top: 3%;
}

@media only screen and (max-width: 600px) {
  .bas_de_page {
    display: none;
  }
}

.main_page2 .sep_com1 {
  background-color: #351601;
}

.main_page2__article3 .details_menu {
  width: 100%;
}

/*************** regles gènérales*******************/
.sep_com {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: auto;
  text-align: center;
}

h3::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

h3:hover::after {
  width: 100%;
  background: #351601;
}

.sep_com1 {
  width: 30%;
  height: 4px;
}

.details_menu {
  width: 80%;
  text-align: left;
  margin-top: 0;
}

.prix {
  width: 20%;
  text-align: right;
  margin-right: 8%;
  margin-top: 0;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5rem;
  width: 100%;
}

ul {
  margin-left: 5%;
}

/******************************page3***********************************/
.main_page3 {
  background-color: #fcf7fa;
  margin: 10%;
  -webkit-box-shadow: 2px 2px 12px #b8b8b8;
          box-shadow: 2px 2px 12px #b8b8b8;
  padding-bottom: 15%;
}

.main_page3__titre {
  text-align: center;
  padding-top: 10%;
  font-size: 3.5rem;
  font-family: "Sofia";
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8800), to(#571ff3));
  background-image: linear-gradient(to right, #ff8800, #571ff3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_page3__article1 {
  color: #f79e19;
}

.main_page3__article1 .sep_com1 {
  background-color: #f79e19;
}

.main_page3__article1 h3:hover::after {
  background: #f79e19;
}

.main_page3__article2 {
  color: #5e265e;
}

.main_page3__article2 .sep_com1 {
  background-color: #5e265e;
}

.main_page3__article2 h3:hover::after {
  background: #5e265e;
}

.main_page3__article3 {
  color: #571ff3;
}

.main_page3__article3 .sep_com1 {
  background: #571ff3;
}

.main_page3__article3 h3:hover::after {
  background: #571ff3;
}

.main_page3 .sep_com__titre {
  font-size: 1.4rem;
}

/****************************************page4***********************/
.main_page4 {
  background-color: #faf3f3;
  font-family: "Kalam";
  font-size: 1.5rem;
  margin: 10%;
  -webkit-box-shadow: 2px 2px 12px #b8b8b8;
          box-shadow: 2px 2px 12px #b8b8b8;
  padding-bottom: 20%;
}

.main_page4 h2 {
  padding-top: 10%;
  text-align: center;
  font-size: 5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#2522dd), to(#1eecff));
  background-image: linear-gradient(to right, #2522dd, #1eecff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script";
}

.main_page4__article1 .sep_com1 {
  background: #2e44c2;
}

.main_page4__article2 .sep_com1 {
  background: #6297db;
}

.main_page4__article3 .sep_com1 {
  background: #1eecff;
}

.main_page4__article1 > .sep_com h3:hover::after {
  background: #2e44c2;
}

.main_page4__article2 > .sep_com h3:hover::after {
  background: #6297db;
}

.main_page4__article3 > .sep_com h3:hover::after {
  background: #1eecff;
}

/*******************************************page5**************************************/
.main_page5 {
  background-color: #faf3f3;
  font-family: "Kalam";
  font-size: 1.5rem;
  padding-bottom: 100px;
  margin: 10%;
  -webkit-box-shadow: 2px 2px 12px #b8b8b8;
          box-shadow: 2px 2px 12px #b8b8b8;
}

.main_page5 h2 {
  text-align: center;
  font-size: 5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#307a05), to(#9cf5a1));
  background-image: linear-gradient(to right, #307a05, #9cf5a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script";
  padding-top: 100px;
}

.main_page5__article .sep_com1 {
  background: -webkit-gradient(linear, left top, right top, from(#307a05), to(#9cf5a1));
  background: linear-gradient(to right, #307a05, #9cf5a1);
}

/***************************************mentions légales************************************/
.page_mentions_legales {
  margin: 10%;
  font-size: 20px;
}

@media (max-width: 600px) {
  .main_page2,
  .main_page3,
  .main_page4,
  .main_page5 {
    margin-bottom: 35%;
    padding-bottom: 0;
  }
  .main_page2 > h2,
  .main_page3 > h2,
  .main_page4 > h2,
  .main_page5 > h2 {
    font-size: 2rem;
  }
  li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .details_menu,
  .prix {
    width: 100%;
    text-align: center;
  }
  .prix {
    font-weight: bold;
  }
  ul {
    margin-left: 0;
    padding-left: 0;
  }
  #mentions_legales,
  #contactez_nous {
    width: 100%;
    font-size: 1.5rem;
    margin: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */