/*****************variables couleur*************************/
/*********************************variables media_queries****************************/
/***********placeholders******************/
.menu--lanote, .menu--lechic, .menu--legout, .menu--papilles {
  text-align: center;
  font-size: 2.1rem;
  box-shadow: 2px 2px 12px #b8b8b8;
  width: 44%;
  height: 650px;
  margin-bottom: 5%; }
  @media screen and (max-width: 600px) {
    .menu--lanote, .menu--lechic, .menu--legout, .menu--papilles {
      width: 100%;
      max-height: 500px; } }
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    .menu--lanote, .menu--lechic, .menu--legout, .menu--papilles {
      max-height: 400px; } }

body {
  margin: auto;
  width: 100%; }

#prochainement {
  background-color: #3c8d72;
  width: 33%;
  height: 80px;
  text-align: center;
  color: #f1c943;
  font-size: 2.5rem;
  border-radius: 15px 15px;
  margin-left: 32%;
  margin-bottom: 10%;
  line-height: 30px; }
  @media screen and (max-width: 600px) {
    #prochainement {
      display: none; } }
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    #prochainement {
      display: none; } }

#prochainement span {
  font-size: 100px;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  color: #f1c943;
  border-radius: 50%; }

#prochainement span:nth-child(2) {
  animation-delay: 0.4s; }

#prochainement span:nth-child(3) {
  animation-delay: 0.6s; }

@keyframes blink {
  0% {
    opacity: 0.2; }
  20% {
    opacity: 1; }
  100% {
    opacity: 0.2; } }
header {
  background-color: #3c8d72;
  width: 100%;
  text-align: center;
  height: 120px;
  color: #f1c943;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Montserrat"; }
  header h1 {
    margin-top: 0;
    line-height: 100px; }

footer {
  justify-content: space-between;
  color: #f1c943;
  display: flex;
  background-color: #3c8d72;
  height: 100px;
  bottom: 0;
  font-size: 2.3rem;
  position: fixed;
  z-index: 1500;
  width: 100%; }

#mentions_legales {
  margin-left: 40px;
  line-height: 105px; }
  @media screen and (max-width: 600px) {
    #mentions_legales {
      width: 100%;
      font-size: 1.5rem;
      margin: 0;
      justify-content: space-around;
      text-align: center;
      font-weight: bold; } }

#mentions_legales:hover {
  animation: wiggle 125ms infinite;
  animation-timing-function: linear; }
@keyframes wiggle {
  0% {
    transform: translate(2px, 0); }
  100% {
    transform: translate(-2px, 0); } }
#contactez_nous {
  margin-right: 40px;
  line-height: 105px; }
  @media screen and (max-width: 600px) {
    #contactez_nous {
      width: 100%;
      font-size: 1.5rem;
      margin: 0;
      justify-content: space-around;
      text-align: center;
      font-weight: bold; } }

#contactez_nous:hover {
  animation: wiggle 105ms infinite;
  animation-timing-function: linear; }
@keyframes wiggle {
  0% {
    transform: translate(2px, 0); }
  100% {
    transform: translate(-2px, 0); } }
.page_mentions_legales {
  margin: 10%;
  font-size: 20px; }

.menu--lanote {
  background-color: #ffe3e3; }
  .menu--lanote__titre {
    margin-top: 2%;
    color: #351601;
    font-weight: lighter;
    font-family: "Devonshire";
    margin-bottom: 0; }
    @media screen and (min-width: 601px) and (max-width: 1024px) {
      .menu--lanote__titre {
        font-size: 2rem; } }
  .menu--lanote__image {
    margin-top: 30%; }

.lanote {
  color: #351601;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Kalam"; }

.main_page2 {
  background-color: #ffe3e3;
  font-family: "Kalam";
  font-size: 1.5rem;
  color: #351601;
  margin: 10%;
  box-shadow: 2px 2px 12px #b8b8b8;
  padding-bottom: 5%; }
  .main_page2__titre {
    text-align: center; }
    @media screen and (max-width: 600px) {
      .main_page2__titre {
        padding-top: 5%; } }
  @media screen and (max-width: 600px) {
    .main_page2 {
      margin-bottom: 35%;
      padding-bottom: 0; } }
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    .main_page2 {
      margin-bottom: 25%; } }

#note_enchantee {
  margin: auto;
  margin-top: 10%; }
  @media screen and (max-width: 600px) {
    #note_enchantee {
      display: none; } }

.bas_de_page {
  display: inline-flex;
  margin-left: 35%;
  max-height: 100px;
  padding-top: 3%; }
  @media screen and (max-width: 600px) {
    .bas_de_page {
      display: none; } }

.main_page2 .sep_com1 {
  background-color: #351601; }

.main_page2__article3 .details_menu {
  width: 100%; }

.main_page3 {
  background-color: #fcf7fa;
  margin: 10%;
  box-shadow: 2px 2px 12px #b8b8b8;
  padding-bottom: 15%; }
  .main_page3__titre {
    text-align: center;
    padding-top: 10%;
    font-size: 3.5rem;
    font-family: "Sofia";
    background-image: linear-gradient(to right, #ff8800, #571ff3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    @media screen and (max-width: 600px) {
      .main_page3__titre {
        padding-top: 5%;
        font-size: 2.5rem; } }
  @media screen and (max-width: 600px) {
    .main_page3 {
      margin-bottom: 35%;
      padding-bottom: 0; } }
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    .main_page3 {
      margin-bottom: 25%;
      padding-bottom: 0; } }

.main_page3__article1 {
  color: #f79e19; }
  .main_page3__article1 .sep_com1 {
    background-color: #f79e19; }
  .main_page3__article1 h3:hover::after {
    background: #f79e19; }

.main_page3__article2 {
  color: #5e265e; }
  .main_page3__article2 .sep_com1 {
    background-color: #5e265e; }
  .main_page3__article2 h3:hover::after {
    background: #5e265e; }

.main_page3__article3 {
  color: #571ff3; }
  .main_page3__article3 .sep_com1 {
    background: #571ff3; }
  .main_page3__article3 h3:hover::after {
    background: #571ff3; }

.main_page3 .sep_com__titre {
  font-size: 1.4rem; }

.menu--lechic {
  background-color: #fcf7fa; }
  .menu--lechic__titre {
    margin-top: 40%;
    background-image: linear-gradient(to right, #ff8800, #571ff3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Sofia";
    margin-bottom: 0; }
    @media screen and (min-width: 601px) and (max-width: 1024px) {
      .menu--lechic__titre {
        font-size: 2rem; } }

.lechic {
  color: #f79e19;
  font-weight: bolder;
  font: 3rem "Arial"; }

.main_page5 {
  background-color: #faf3f3;
  font-family: "Kalam";
  font-size: 1.5rem;
  padding-bottom: 100px;
  margin: 10%;
  box-shadow: 2px 2px 12px #b8b8b8; }
  .main_page5__titre {
    text-align: center;
    font-size: 5rem;
    background-image: linear-gradient(to right, #307a05, #9cf5a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Kaushan Script";
    padding-top: 100px; }
    @media screen and (max-width: 600px) {
      .main_page5__titre {
        padding-top: 5%;
        font-size: 2.5rem; } }
    @media screen and (min-width: 601px) and (max-width: 1024px) {
      .main_page5__titre {
        margin-bottom: 0;
        padding-top: 0; } }
  @media screen and (max-width: 600px) {
    .main_page5 {
      margin-bottom: 35%;
      padding-bottom: 0; } }
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    .main_page5 {
      margin-bottom: 25%;
      padding-bottom: 0; } }

.main_page5__article .sep_com1 {
  background: linear-gradient(to right, #307a05, #9cf5a1); }

.menu--legout {
  background-color: #fff9f9; }
  .menu--legout__titre {
    margin-top: 45%;
    background: linear-gradient(to right, #197538 0%, #b4ee47 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Kaushan Script";
    margin-bottom: 0; }
    @media screen and (min-width: 601px) and (max-width: 1024px) {
      .menu--legout__titre {
        font-size: 2rem; } }

.legout {
  color: #7fe451;
  font-size: 3rem; }

.main_page4 {
  background-color: #faf3f3;
  font-family: "Kalam";
  font-size: 1.5rem;
  margin: 10%;
  box-shadow: 2px 2px 12px #b8b8b8;
  padding-bottom: 20%; }
  .main_page4__titre {
    padding-top: 10%;
    text-align: center;
    font-size: 5rem;
    background-image: linear-gradient(to right, #2522dd, #1eecff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Dancing Script"; }
    @media screen and (max-width: 600px) {
      .main_page4__titre {
        padding-top: 5%;
        font-size: 2.5rem; } }
    @media screen and (min-width: 601px) and (max-width: 1024px) {
      .main_page4__titre {
        margin-bottom: 0; } }
  @media screen and (max-width: 600px) {
    .main_page4 {
      margin-bottom: 35%;
      padding-bottom: 0; } }
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    .main_page4 {
      margin-bottom: 25%;
      padding-bottom: 0; } }

.main_page4__article1 .sep_com1 {
  background: #2e44c2; }

.main_page4__article2 .sep_com1 {
  background: #6297db; }

.main_page4__article3 .sep_com1 {
  background: #1eecff; }

.main_page4__article1 > .sep_com h3:hover::after {
  background: #2e44c2; }

.main_page4__article2 > .sep_com h3:hover::after {
  background: #6297db; }

.main_page4__article3 > .sep_com h3:hover::after {
  background: #1eecff; }

.menu--papilles {
  background-color: #faf3f3; }
  .menu--papilles__titre {
    margin-top: 40%;
    background: linear-gradient(-225deg, #2e44c2 0%, #6297db 48%, #1eecff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Dancing Script";
    margin-bottom: 0; }
    @media screen and (min-width: 601px) and (max-width: 1024px) {
      .menu--papilles__titre {
        font-size: 2rem; } }

.papilles {
  color: #1d90d3;
  font-family: "Kalam";
  font-size: 3rem; }

.quatre_menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10% 10% 0% 10%; }
  @media screen and (max-width: 600px) {
    .quatre_menus {
      flex-direction: column;
      margin-bottom: 35%; } }
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    .quatre_menus {
      margin-bottom: 20%; } }

a {
  text-decoration: none;
  color: #f1c943; }

  .scale {
    opacity: 1;
    transform: scale(1);
    transition: 0.3s ease-in-out; }
    .scale:hover {
      transform: scale(1.1); 
      opacity: 0.5;}
  

.sep_com {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  text-align: center; }

h3::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  transition: width 0.5s ease-in-out; }

h3:hover::after {
  width: 100%;
  background: #351601; }

.sep_com1 {
  width: 30%;
  height: 4px; }

.details_menu {
  width: 80%;
  text-align: left;
  margin-top: 0; }
  @media screen and (max-width: 600px) {
    .details_menu {
      width: 100%;
      text-align: center; } }

.prix {
  width: 20%;
  text-align: right;
  margin-right: 8%;
  margin-top: 0; }
  @media screen and (max-width: 600px) {
    .prix {
      width: 100%;
      text-align: center;
      font-weight: bold; } }

li {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  width: 100%; }
  @media screen and (max-width: 600px) {
    li {
      flex-direction: column; } }

ul {
  margin-left: 5%; }
  @media screen and (max-width: 600px) {
    ul {
      margin-left: 0;
      padding-left: 0; } }

/*# sourceMappingURL=style.css.map */
