header {
    background-color: $couleur_footer_header;
    width: 100%;
    text-align: center;
    height: 120px;
    color: $couleur_logo;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Montserrat";
    h1 {
      margin-top: 0;
      line-height: 100px;
    }
  }