$background_color_menu1: rgb(255, 227, 227);
$background-color_menu2: rgb(252, 247, 250);
$background-color_menu3: rgb(250, 243, 243);
$background-color_menu4: rgb(255, 249, 249);
$couleur_menu_lechic: rgb(247, 158, 25);
$couleur_lechic2: rgb(94, 38, 94);
$couleur_lechic3: rgb(87, 31, 243);
$couleur_menu_lanote: rgb(53, 22, 1);
$couleur_menu_palettes: rgb(127, 228, 81);
$couleur_menu_papilles: rgb(29, 144, 211);
$couleur_footer_header: rgb(60, 141, 114);
$couleur_logo: rgb(241, 201, 67);
$couleur_papilles1: rgb(46, 68, 194);
$couleur_papilles2: #6297db;
$couleur_papilles3: #1eecff;
