.main_page5 {
    background-color: $background-color_menu3;
    font-family: "Kalam";
    font-size: 1.5rem;
    padding-bottom: 100px;
    margin: 10%;
    box-shadow: 2px 2px 12px rgb(184, 184, 184);
    &__titre {
      text-align: center;
      font-size: 5rem;
      background-image: linear-gradient(
        to right,
        rgb(48, 122, 5),
        rgb(156, 245, 161)
      );
  
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Kaushan Script";
      padding-top: 100px;
      @media #{$small-screen} {
        padding-top: 5%;
        font-size: 2.5rem;
      }
      @media #{$large-screen} {
        margin-bottom: 0;
        padding-top: 0;
      }
    }
    @media #{$small-screen} {
      margin-bottom: 35%;
      padding-bottom: 0;
    }
    @media #{$large-screen} {
      margin-bottom: 25%;
      padding-bottom: 0;
    }
  }
  .main_page5__article .sep_com1 {
    background: linear-gradient(to right, rgb(48, 122, 5), rgb(156, 245, 161));
  }
  .menu--legout {
    @extend %menu;
    background-color: $background-color_menu4;
    &__titre {
      margin-top: 45%;
      background: linear-gradient(to right, #197538 0%, #b4ee47 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Kaushan Script";
      margin-bottom: 0;
      @media #{$large-screen} {
        font-size: 2rem;
      }
    }
  }
  .legout {
    color: $couleur_menu_palettes;
    font-size: 3rem;
  }