.menu--lanote{
    @extend %menu;
    background-color: $background_color_menu1;
    &__titre {
      margin-top: 2%;
      color: $couleur_menu_lanote;
      font-weight: lighter;
      font-family: "Devonshire";
      margin-bottom: 0;
      @media #{$large-screen} {
        font-size: 2rem;
      }
    }
    &__image {
      margin-top: 30%;
    }
  }
  .lanote {
    color: $couleur_menu_lanote;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Kalam";
  }
  .main_page2 {
    background-color: $background_color_menu1;
    font-family: "Kalam";
    font-size: 1.5rem;
    color: $couleur_menu_lanote;
    margin: 10%;
    box-shadow: 2px 2px 12px rgb(184, 184, 184);
    padding-bottom: 5%;
    &__titre {
      text-align: center;
      @media #{$small-screen} {
        padding-top: 5%;
      }
    }
    @media #{$small-screen} {
      margin-bottom: 35%;
      padding-bottom: 0;
    }
    @media #{$large-screen} {
      margin-bottom: 25%;
    }
  }
  #note_enchantee {
    margin: auto;
    margin-top: 10%;
    @media #{$small-screen} {
      display: none;
    }
  }
  .bas_de_page {
    display: inline-flex;
    margin-left: 35%;
    max-height: 100px;
    padding-top: 3%;
    @media #{$small-screen} {
      display: none;
    }
  }
  .main_page2 .sep_com1 {
    background-color: $couleur_menu_lanote;
  }
  .main_page2__article3 .details_menu {
    width: 100%;
  }