.quatre_menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10% 10% 0% 10%;
    @media #{$small-screen} {
      flex-direction: column;
      margin-bottom: 35%;
    }
    @media #{$large-screen} {
      margin-bottom: 20%;
    }
  }
  
  a {
    text-decoration: none;
    color: $couleur_logo;
  }
  .scale {
    opacity: 1;
    transform: scale(1);
    transition: 0.3s ease-in-out; }
    .scale:hover {
      transform: scale(1.1); 
      opacity: 0.5;}
  
  
  